<mat-spinner *ngIf="isLoading"></mat-spinner>
<h2>User lists</h2>
<div class="container" *ngIf="users.length > 0 && !isLoading"> 
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Role</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td class="lastCol">
                    <button 
                        mat-button 
                        color="warn" 
                        (click)="onDelete(user.email)"
                    >DELETE
                    </button>
                </td>
                
            </tr>
        </tbody>
    </table>
</div>
<mat-paginator 
    [length]="totalUsers" 
    [pageSize]="usersPerPage"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onChangedPage($event)"
    *ngIf="users.length > 0"
></mat-paginator>
<p class="info-text mat-body-1" *ngIf="users.length === 0 && !isLoading">No users yet!</p>